link(rel='stylesheet' href='/css/layouts/popup.css')

div.modal-overlay#consultation-form-modal
    div.modal-box
        h3.modal-title اطلاعات خود را برای مشاوره وارد کنید.
        p.modal-subtitle مشاوران ما در اولین فرصت با شما تماس خواهند گرفت.
        form(action="/consultation", method="POST")
            select.select-input(name="country")
                for country in countries
                    option= country


            select.select-input(name="service")
                option تحصیل
                option کار
                option مهاجرت
                option سرمایه گذاری

            input.text-input(type="text", placeholder="نام و نام خانوادگی" name="fullname")
            input.text-input(type="text", placeholder="شماره موبایل" name="phone")

            button.confirm-button(type="submit") تایید
        button.cancel-button#consultation-cancel انصراف

script.
    $(document).ready(()=> {
        $('#consultation-cancel').click(() =>{
            $('#consultation-form-modal').hide();
        })
    })