link(rel="stylesheet", href="/css/layouts/footer.css")
footer.footer
  .footer-container
    .footer-section.quick-access
      h3.footer-title دسترسی سریع
      ul.footer-links
        li
          a(href='/') صفحه اصلی
        li
          a(href='/services') خدمات ما
        li
          a(href='/universities') دانشگاه‌ها
        li
          a(href='/articles') مقالات
        li
          a(href='/about') درباره ما
        li
          a(href='/contact') تماس با ما

    .footer-section.about
      h3.footer-title درباره اپلای منتورینگ
      p.footer-description
        | اپلای منتورینگ با بیش از دو دهه تجربه در زمینه مشاوره مهاجرت تحصیلی و کاری، یکی از پیشگامان ارائه خدمات مشاوره‌ای در ایران است. ما با همکاری بهترین مشاوران و اساتید دانشگاه، خدمات جامع و تخصصی را در زمینه تحصیل در خارج از کشور ارائه می‌دهیم.

    .footer-section.contact
      h3.footer-title تماس با ما
      .contact-info
        .contact-item
          i.fas.fa-map-marker-alt
          span تهران، خیابان ولیعصر، خیابان فرشته
        .contact-item
          i.fas.fa-mobile-alt
          span ۰۹۱۹۲۱۷۴۱۰۴
        .contact-item
          i.fas.fa-envelope
          span info.applymentoring@gmail.com
      .social-links
        a.social-link(href='http://instagram.com/_u/applymentoring' target='_blank')
          i.fab.fa-instagram
        a.social-link(href='https://wa.me/989192174104' target='_blank')
          i.fab.fa-whatsapp
        a.social-link(href='https://t.me/apply_mentoring' target='_blank')
          i.fab.fa-telegram-plane

  .footer-bottom
    p.copyright © ۱۴۰۳ اپلای منتورینگ. تمامی حقوق محفوظ است.