doctype html
html(lang='fa' dir='rtl')
  head
    meta(charset='utf-8')
    title اپلای منتورینگ
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content)
    meta(name='description' content)
    script(src="/js/jquery-3.5.1.min.js")
    //- link(rel="stylesheet" href="/fontawesome-free-6.6.0-web/css/all.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/css/theme.css')
    link(rel='stylesheet' href='/css/landing/home.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  body
    include layouts/consultation-form

    //- .slideshow-container
    //-   .slide.fade
    //-     img(src='/img/landing/01.jpg' alt='Slide 1')
    //-     .slide-content
    //-       h2.title اپلای منتورینگ
    //-       p.description مشاوره مهاجرت تحصیلی و کاری
    //-   .slide.fade
    //-     img(src='/img/landing/02.jpg' alt='Slide 2')
    //-     .slide-content
    //-       h2.title اپلای منتورینگ
    //-       p.description بورسیه تحصیلی
    //-   .slide.fade
    //-     img(src='/img/landing/03.jpg' alt='Slide 3')
    //-     .slide-content
    //-       h2.title اپلای منتورینگ
    //-       p.description ترجمه و ارسال مدارک تحصیلی به دانشگاه
    //-   .slide.fade
    //-     img(src='/img/landing/04.jpg' alt='Slide 4')
    //-     .slide-content
    //-       h2.title اپلای منتورینگ
    //-       p.description مکاتبه با اساتید جهت گرفتن فاند
    //-   //- .slide-controls
    //-   //-   span.prev(onclick='changeSlide(-1)') &#10094;
    //-   //-   span.next(onclick='changeSlide(1)') &#10095;
    //-   .slide-dots
    //-     span.dot(onclick='currentSlide(1)')
    //-     span.dot(onclick='currentSlide(2)')
    //-     span.dot(onclick='currentSlide(3)')
    //-     span.dot(onclick='currentSlide(4)')
    include layouts/navbar

    include home/header


    section.about-section
      h2.section-title درباره اپلای منتورینگ
      .about-content
        p.about-text
          | تجربه نزدیک به دو دهه فعالیت در زمینه مشاوره مهاجرت تحصیلی و کاری، همکاری با بهترین وکلای مهاجرتی در خارج از کشور و مشاوران متخصص داخلی، همکاری با اساتید مطرح دانشگاه‌های معتبر جهان و مشاوران تحصیلی مجرب. اپلای منتورینگ مفتخر به دریافت لوح رضایتمندی مشتری و تندیس برترین مرکز مشاوره تحصیلی کشور می‌باشد. ما تاکنون به بیش از 100,000 متقاضی مشاوره ارائه داده و حدود 5000 پرونده موفق تحصیلی و مهاجرتی را به سرانجام رسانده‌ایم.
        .contact-buttons
          a.phone-button(href='tel:+989123456789')
            i.fas.fa-phone
            span ۰۹۱۲-۳۴۵-۶۷۸۹
          a.phone-button(href='tel:+982112345678')
            i.fas.fa-phone
            span ۰۲۱-۱۲۳۴-۵۶۷۸
    section
      h2.section-title خدمات اپلای منتورینگ
    section.products-section
      .product-cards
        .product-card
          .card-slideshow
            .card-slide.fade
              img(src='/img/landing/01.jpg')
            .card-slide.fade
              img(src='/img/landing/02.jpg')
            .card-slide.fade
              img(src='/img/landing/03.jpg')
          .card-content
            h3.card-title مشاوره تحصیلی
            p.card-description
              | ارائه مشاوره جامع برای انتخاب رشته، دانشگاه و کشور مقصد. تیم مشاوران ما با تجربه بالا در زمینه سیستم‌های آموزشی مختلف کشورها، بهترین مسیر تحصیلی را برای شما انتخاب می‌کنند. خدمات ما شامل بررسی سوابق تحصیلی، راهنمایی برای انتخاب رشته مناسب و معرفی دانشگاه‌های معتبر می‌باشد.

        .product-card
          .card-slideshow
            .card-slide.fade
              img(src='/img/landing/02.jpg')
            .card-slide.fade
              img(src='/img/landing/03.jpg')
            .card-slide.fade
              img(src='/img/landing/04.jpg')
          .card-content
            h3.card-title بورسیه و فاندینگ
            p.card-description
              | جستجو و معرفی بورسیه‌های تحصیلی و فرصت‌های فاندینگ در دانشگاه‌های معتبر جهان. ما با شناخت دقیق از انواع بورسیه‌ها و شرایط اخذ آن‌ها، بهترین فرصت‌های مالی را برای ادامه تحصیل شما فراهم می‌کنیم. خدمات ما شامل راهنمایی برای نوشتن درخواست بورسیه، آماده‌سازی مدارک و پیگیری فرآیند است.

        .product-card
          .card-slideshow
            .card-slide.fade
              img(src='/img/landing/03.jpg')
            .card-slide.fade
              img(src='/img/landing/04.jpg')
            .card-slide.fade
              img(src='/img/landing/05.jpg')
          .card-content
            h3.card-title ویزا و مهاجرت
            p.card-description
              | راهنمایی کامل در فرآیند اخذ ویزای تحصیلی و مهاجرت به کشور مقصد. تیم مشاوران ما با تجربه در امور کنسولگری و قوانین مهاجرتی کشورهای مختلف، شما را در تمام مراحل اخذ ویزا همراهی می‌کنند. خدمات ما شامل آماده‌سازی مدارک، تمرین مصاحبه و پیگیری پرونده است.

    section.services-showcase
      .services-container
        a.service-column(href='/services/consultation')
          .service-image
            img(src='/img/landing/03.jpg')
            .overlay
            .service-content
              h3.service-title خدمات مشاوره
              .service-link
                span مشاهده خدمات
                i.fas.fa-chevron-left

        a.service-column(href='/services/application')
          .service-image
            img(src='/img/landing/05.jpg')
            .overlay
            .service-content
              h3.service-title خدمات اپلیکیشن
              .service-link
                span مشاهده خدمات
                i.fas.fa-chevron-left

    section.milling-services
      .milling-container
        .milling-images
          .milling-image
            img(src='/img/landing/05.jpg')
          .milling-image
            img(src='/img/landing/04.jpg')
          .milling-image
            img(src='/img/landing/03.jpg')
        .milling-content
          h2.milling-title خدمات مشاوره تخصصی
          p.milling-description
            | با استفاده از تجربه چندین ساله در زمینه مشاوره تحصیلی و مهاجرت، خدمات مشاوره تخصصی و جامع را به متقاضیان ارائه می‌دهیم. تیم مشاوران مجرب ما آماده راهنمایی شما در تمام مراحل فرآیند تحصیل در خارج از کشور هستند.
          ul.milling-features
            li
              i.fas.fa-check
              span مشاوره انتخاب رشته و دانشگاه
            li
              i.fas.fa-check
              span آماده‌سازی مدارک تحصیلی
            li
              i.fas.fa-check
              span ترجمه رسمی مدارک
            li
              i.fas.fa-check
              span راهنمایی اخذ بورسیه
            li
              i.fas.fa-check
              span مشاوره ویزا و اقامت
            li
              i.fas.fa-check
              span پیگیری مراحل پذیرش
    include components/sample-visa
    footer.footer
      .footer-container
        .footer-section.quick-access
          h3.footer-title دسترسی سریع
          ul.footer-links
            li
              a(href='/') صفحه اصلی
            li
              a(href='/services') خدمات ما
            li
              a(href='/universities') دانشگاه‌ها
            li
              a(href='/articles') مقالات
            li
              a(href='/about') درباره ما
            li
              a(href='/contact') تماس با ما

        .footer-section.about
          h3.footer-title درباره اپلای منتورینگ
          p.footer-description
            | اپلای منتورینگ با بیش از دو دهه تجربه در زمینه مشاوره مهاجرت تحصیلی و کاری، یکی از پیشگامان ارائه خدمات مشاوره‌ای در ایران است. ما با همکاری بهترین مشاوران و اساتید دانشگاه، خدمات جامع و تخصصی را در زمینه تحصیل در خارج از کشور ارائه می‌دهیم.

        .footer-section.contact
          h3.footer-title تماس با ما
          .contact-info
            .contact-item
              i.fas.fa-map-marker-alt
              span تهران، خیابان ولیعصر، خیابان فرشته
            .contact-item
              i.fas.fa-phone
              span ۰۲۱-۱۲۳۴-۵۶۷۸
            .contact-item
              i.fas.fa-mobile-alt
              span ۰۹۱۲-۳۴۵-۶۷۸۹
            .contact-item
              i.fas.fa-envelope
              span info@applymentoring.com
          .social-links
            a.social-link(href='#' target='_blank')
              i.fab.fa-instagram
            a.social-link(href='#' target='_blank')
              i.fab.fa-whatsapp
            a.social-link(href='#' target='_blank')
              i.fab.fa-telegram-plane

      .footer-bottom
        p.copyright © ۱۴۰۳ اپلای منتورینگ. تمامی حقوق محفوظ است.

    script.
      //- let slideIndex = 1;
      //- showSlides(slideIndex);

      //- function changeSlide(n) {
      //-   showSlides(slideIndex += n);
      //- }

      //- function currentSlide(n) {
      //-   showSlides(slideIndex = n);
      //- }

      //- function showSlides(n) {
      //-   let slides = document.getElementsByClassName("slide");
      //-   let dots = document.getElementsByClassName("dot");
        
      //-   if (n > slides.length) {slideIndex = 1}
      //-   if (n < 1) {slideIndex = slides.length}
        
      //-   for (let i = 0; i < slides.length; i++) {
      //-     slides[i].style.display = "none";
      //-   }
      //-   for (let i = 0; i < dots.length; i++) {
      //-     dots[i].className = dots[i].className.replace(" active", "");
      //-   }
        
      //-   slides[slideIndex-1].style.display = "block";
      //-   dots[slideIndex-1].className += " active";
      //- }

      //- // Auto slide
      //- setInterval(() => {
      //-   changeSlide(1);
      //- }, 5000);

      // Card slideshow functionality
      //- function initCardSlideshows() {
      //-   const cardSlideshows = document.querySelectorAll('.card-slideshow');
        
      //-   cardSlideshows.forEach((slideshow, index) => {
      //-     const slides = slideshow.getElementsByClassName('card-slide');
      //-     let currentSlide = 0;
          
      //-     // Set initial state
      //-     for (let i = 0; i < slides.length; i++) {
      //-       slides[i].style.opacity = i === 0 ? '1' : '0';
      //-       slides[i].style.display = 'block';
      //-     }
          
      //-     // Start each slideshow at a different time
      //-     setTimeout(() => {
      //-       // Auto slide for each card
      //-       setInterval(() => {
      //-         // Fade out current slide
      //-         slides[currentSlide].style.opacity = '0';
              
      //-         // Move to next slide
      //-         currentSlide = (currentSlide + 1) % slides.length;
              
      //-         // Fade in next slide
      //-         slides[currentSlide].style.opacity = '1';
      //-       }, 3000);
      //-     }, index * 1000); // Start each slideshow 1 second after the previous one
      //-   });
      //- }

      //- // Initialize card slideshows when the page loads
      //- window.addEventListener('load', initCardSlideshows);